# Fetcher Settings:
quandl:
  api_key: "???"

# Publisher Settings:
publishers:
  console:
    enable: true

  twitter:
    enable: true
    handle: '???'
    api_key: '???'
    api_secret: '???'
    oauth_token_key: '???'
    oauth_token_secret: '???'

  email:
    enable: true
    address: "???"                  # SMTP server url (i.e smtp.gmail.com
    port: 587                       # SMTP Server port
    user_name: '???'                # SMTP username
    password: '???'                 # SMTP password
    to: 'your-address@gmail.com'    # email address to send notification to
    from: 'lqd-stock@carmon.org.il' # email address from which to send
    subject: 'Stock Update'         # email subject

  lqd_page:
    enable: true
    url: 'http://lqd-stock.ma-kaf.com:80' # URL for Lqd-Page server
