body {
  text-align: center;
  background-color: black;
  background: url('dark-pattern-012.gif');
  color: white;
  padding: 30px;
  border: 20px solid #00264b;
}

h1 {
  text-align: center;
  color: silver;
  margin: auto;
}
hr {
  border: 3px solid #2424ff ;
}

#stock-table-container {
  margin: auto;
}

#autorefresh {
  margin: 15px 5px;
}

.table-cell {
  margin: 10px;
  text-align: center;
  padding: 10px;
  display: table-cell;
}

.highlighted {
  color: yellow;
  background: rgba(255, 255, 255, 0.1);
}
.table-row {
  margin: 10px;
  border: 3px solid gray;
  display: table-row;
}
